[project]
	description = JenkinsMobi App for Android
[access "refs/*"]
	owner = group user/GerritForge (gerritforge)
[access "refs/for/refs/*"]
	read = group user/GerritForge (gerritforge)
	push = group user/GerritForge (gerritforge)
	label-Code-Review = -2..+2 group user/GerritForge (gerritforge)
	label-Verified = -1..+1 group user/GerritForge (gerritforge)
	rebase = group user/GerritForge (gerritforge)
	removeReviewer = group user/GerritForge (gerritforge)
	submit = group user/GerritForge (gerritforge)
[access "refs/heads/*"]
	read = group user/GerritForge (gerritforge)
	create = group user/GerritForge (gerritforge)
	push = +force group user/GerritForge (gerritforge)
	pushMerge = group user/GerritForge (gerritforge)
[access "refs/tags/*"]
	push = +force group user/GerritForge (gerritforge)
	pushTag = group user/GerritForge (gerritforge)
	pushSignedTag = group user/GerritForge (gerritforge)
